public/templates.json
[
  {
    "id": "template1",
    "name": "AI Sales Agent",
    "description": "Agent penjualan dengan memori Postgres dan model GPT‑4o. Contoh workflow lengkap.",
    "workflow": {
      "name": "AI Sales Agent",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "rename-This",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [
            -160,
            0
          ],
          "id": "8a2f1afe-9155-45c7-bea6-c9835c3a7521",
          "name": "Webhook",
          "webhookId": "76b0c7e6-5462-49d3-a1b0-e5b2865877ed"
        },
        {
          "parameters": {
            "options": {
              "systemMessage": "You are a helpful assistant",
              "returnIntermediateSteps": false
            }
          },
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2,
          "position": [
            60,
            0
          ],
          "id": "e30206bb-3962-4c9c-874c-3b90fe8a144a",
          "name": "AI Agent"
        },
        {
          "parameters": {
            "tableName": "clevio-pro"
          },
          "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
          "typeVersion": 1.3,
          "position": [
            160,
            220
          ],
          "id": "52538d41-bb98-4558-b196-abd8178f208e",
          "name": "Postgres Chat Memory",
          "credentials": {
            "postgres": {
              "id": "l0TJa6mzewj9GHUG",
              "name": "Postgres account"
            }
          }
        },
        {
          "parameters": {
            "respondWith": "text",
            "responseBody": "={{ $json.output }}",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.3,
          "position": [
            420,
            0
          ],
          "id": "e66699f7-7447-4946-803c-9291250e3411",
          "name": "Respond to Webhook"
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "list",
              "value": "gpt-4o-mini"
            },
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.2,
          "position": [
            40,
            200
          ],
          "id": "c2232d0e-cd7c-4ac3-987b-fa08dd952397",
          "name": "OpenAI Chat Model",
          "credentials": {
            "openAiApi": {
              "id": "ueOdbqY0lejHM6Ax",
              "name": "OpenAi account"
            }
          }
        }
      ],
      "pinData": {},
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "AI Agent",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Postgres Chat Memory": {
          "ai_memory": [
            [
              {
                "node": "AI Agent",
                "type": "ai_memory",
                "index": 0
              }
            ]
          ]
        },
        "AI Agent": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI Chat Model": {
          "ai_languageModel": [
            [
              {
                "node": "AI Agent",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": false,
      "settings": {
        "executionOrder": "v1"
      },
      "versionId": "92f55bb5-9f59-4440-81f8-751303da6837",
      "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "29d6311f8b65edfc5d1df51b14b1326a9f140e204a3d41dd6cfe9cc2ab1b2dc9"
      },
      "id": "fqBaQ3SPuZgAuDMY",
      "tags": []
    }
  },
  {
    "id": "template2",
    "name": "Support Agent",
    "description": "Template untuk agen dukungan pelanggan. Contoh workflow sederhana.",
    "workflow": {
      "name": "Support Agent",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "support-endpoint",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [
            0,
            0
          ],
          "id": "support-webhook",
          "name": "Webhook"
        },
        {
          "parameters": {
            "respondWith": "text",
            "responseBody": "Hello from Support Agent!",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [
            200,
            0
          ],
          "id": "support-respond",
          "name": "Respond to Webhook"
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    }
  }
]